beautifulsoup4==4.12.2
clip==1.0
easydict==1.10
Flask==2.2.2
google==3.0.0
model==0.6.0
numpy==1.23.2
opencv_contrib_python==4.6.0.66
pandas==1.4.3
Pillow==9.5.0
pyllamacpp==1.0.6
revChatGPT==5.0.0
scipy==1.9.0
text2vec==1.1.8
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0
transformers==4.26.1
gradio
nibabel