<!DOCTYPE html>
<!-- 声明文档类型 -->
<html>

<head>
  <title>ChatCAD+</title>
  <!-- 网页标题 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" />
  <!-- 引入CSS样式表 -->
</head>

<body class="w-screen h-screen bg-primary text-gray-400 flex flex-col overflow-hidden">
  <!-- 设置网页的主题样式 -->
  <div class="w-full h-20 border-b border-accent bg-tertiary text-2xl font-bold flex justify-between items-center px-6">
    <!-- 网页头部 -->
    <div class="w-12 h-12">
      <!-- 网页头部图标 -->
      <img src="{{ url_for('static', filename='images/icon.png') }}" />
    </div>
    <!-- 网页标题 -->
    <h1>ChatCAD plus - WebUI</h1>
  </div>
  <!-- 主要内容区域 -->
  <main class="h-full flex flex-col md:flex-row overflow-hidden max-h-full">
    <section
      class="w-full md:w-1/3 lg:w-1/4 xl:w-1/5 bg-secondary flex md:flex-col border-r border-accent border-b md:border-b-0">
      <!-- 左侧导航栏 -->
      <section class="md:h-1/2 border-b border-accent flex flex md:flex-col">
        <div>
          <h1>Discussions</h1>
          <!-- 左侧导航栏中的标题 -->
        </div>
        <div id="discussions-list" class="h-96 overflow-y-auto"></div>
      </section>
      <section class="md:h-1/2 flex sm:space-x-reverse">
        <p>Settings</p>
        <!-- 左侧导航栏中的设置项 -->
      </section>
    </section>
    <!-- 右侧聊天窗口区域 -->
    <section id="chat-window" class="w-full overflow-y-auto flex flex-col rounded-md"></section>
  </main>
  <!-- 网页底部 -->
  <footer class="border-t border-accent flex">
    <!-- 新聊天按钮 -->
    <input type="button" value="New Chat" id="new-discussion-btn"
      class="my-1 mx-1 outline-none px-4 bg-accent text-black rounded-md hover:bg-[#7ba0ea] active:bg-[#3d73e1] transition-colors ease-in-out" />
    <!-- 导出按钮 -->
    <input type="button" value="Export" id="export-button"
      class="my-1 mx-1 outline-none px-4 bg-accent text-black rounded-md hover:bg-[#7ba0ea] active:bg-[#3d73e1] transition-colors ease-in-out" />
    <!-- 聊天表单 -->
    <form id="chat-form" class="flex w-full rounded-md">
      <!-- 消息输入框 -->
      <input type="text" id="user-input" placeholder="Your Input ..."
        class="bg-secondary my-1 mx-1 outline-none drop-shadow-sm w-full rounded-md p-2" />
      <!-- 提交文本输入 -->
      <input type="submit" value="Send" id="submit-input"
        class="my-1 mx-1 outline-none px-4 bg-accent text-black rounded-md hover:bg-[#7ba0ea] active:bg-[#3d73e1] transition-colors ease-in-out" />
      <!-- 添加上传图片的按钮 -->
      <label for="upload-input"
        class="my-1 mx-1 outline-none px-4 bg-accent text-black rounded-md hover:bg-[#7ba0ea] active:bg-[#3d73e1] transition-colors ease-in-out">
        Upload Image
      </label>
      <input type="file" id="upload-input" accept="image/*" style="display: none" />
      <!-- 在聊天窗口中展示上传的图片 -->
      <img id="uploaded-image" style="
            display: none;
            width: 50px;
            height: 48px;
            object-fit: cover;
            margin: 10px 0;
          " />

      <!-- 等待动画 -->
      <div id="wait-animation" style="display: none"
        class="lds-facebook bg-secondary my-1 mx-1 outline-none drop-shadow-sm w-full rounded-md p-2">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </form>
  </footer>
  <script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>